<div class="container d-flex align-items-center justify-content-center">
  <div
    class="container card p-3 pt-5 mt-5 text-muted searchForm"
    style="border-radius: 1rem"
  >
    <h2 class="text-center text-dark pb-5">Business search</h2>

    <form
      ngNativeValidate
      (ngSubmit)="onSubmit()"
      class="row g-2"
      #searchForm="ngForm"
    >
      <div class="form-group col-12">
        <label for="inputKeyword" class="form-label">Keyword</label>
        <span style="color: red">*</span>
        <input
          type="text"
          class="form-control mb-2"
          id="inputKeyword"
          required
          [(ngModel)]="selectedKeyword"
          [matAutocomplete]="auto"
          [formControl]="inputKeywordControl"
          name="inputKeyword"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onSelected()"
        >
          <mat-option *ngIf="isLoading" class="is-loading"
            ><mat-spinner diameter="30"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option
              *ngFor="let keyword of filteredKeywords"
              [value]="keyword"
            >
              {{ keyword }}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>

      <div class="form-group col-lg-6">
        <label for="inputDistance" class="form-label">Distance</label>
        <input
          placeholder="10"
          type="number"
          class="form-control mb-2"
          id="inputDistance"
          ngModel
          name="inputDistance"
        />
      </div>

      <div class="form-group col-lg-5">
        <label for="inputCategory" class="form-label">Category</label>
        <span style="color: red">*</span>
        <select
          id="inputCategory"
          class="form-select mb-2"
          [ngModel]="defaultCategory"
          ngModel
          name="inputCategory"
          required
        >
          <option value="Default" selected>Default</option>
          <option value="Arts & Entertainment">Arts & Entertainment</option>
          <option value="Health & Medical">Health & Medical</option>
          <option value="Hotels & Travel">Hotels & Travel</option>
          <option value="Food">Food</option>
          <option value="Professional Services">Professional Services</option>
        </select>
      </div>

      <div class="form-group col-12">
        <label for="inputLocation" class="form-label">Location</label>
        <span style="color: red">*</span>
        <input
          type="text"
          class="form-control mb-2"
          id="inputLocation"
          [(ngModel)]="inputLocation"
          name="inputLocation"
          required
          [disabled]="autoDetectEnabled"
        />
      </div>

      <div class="form-group col-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="locationCheck"
            [(ngModel)]="autoDetectEnabled"
            name="locationCheck"
            (click)="clearInputLocation()"
            #locationCheck
          />
          <label class="form-check-label" for="locationCheck">
            Auto-detect my location
          </label>
        </div>
      </div>

      <div class="col-6">
        <button type="submit" class="btn btn-danger btn-lg float-end">
          submit
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          (click)="resetForm()"
          class="btn btn-primary btn-lg"
        >
          clear
        </button>
      </div>
    </form>
  </div>
</div>
