body {
  background-color: rgb(230 229 229);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-weight: normal;
}

#form {
  background-color: white;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  border: 5px rgb(214 214 214) solid;
  outline: 15px rgb(230 230 230) solid;
}

#header {
  width: 720px;
  position: relative;
}

#checkbox {
  padding: 0;
  margin: 0;
  transform: scale(1.2);
}

.left {
  position: absolute;
  bottom: 8px;
  left: 50px;
  color: white;
}

label {
  font-weight: 500;
  color: rgb(79, 111, 169);
}

/* Style inputs */
input[type="text"],
select {
  color: rgb(81, 81, 81);
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

#dectectLocationText {
  font-weight: 400;
  font-size: x-large;
  color: rgb(79, 111, 169);
}

form {
  margin: 20px;
  width: 85%;
}
.formButton {
  font-size: large;
  width: 140px;
  height: 60px;
}

.formButton:hover {
  opacity: 0.75;
}

/* .formButton :active ::after {
  border: black 2px solid;
} */

.formButton,
#submitButton {
  border: 0;
  color: white;
  background-color: rgb(79, 111, 169);
  border-bottom: rgb(57 74 113) 5px solid;
}

.formButton,
#clearButton {
  color: white;
  background-color: rgb(253, 183, 53);
  border-bottom: rgb(227 135 50) 5px solid;
}

.star {
  color: red;
}

#lineInTheForm {
  color: rgb(108 134 182);
}

.disable_section {
  background-color: lightgrey;
}

.noRecordMessage {
  background-color: white;
  width: 960px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

#table {
  background-color: white;
  width: 1280px;
  margin: auto;
  margin-top: 100px;
}

.table {
  table-layout: fixed;
  width: 1280px;
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  margin: auto;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* display: none; */
}
.table th {
  border: 2px solid #c0c0c0;
  height: 50px;
  width: 1280px;
  background: rgb(85 110 168);
}

.table #noHeader {
  width: 5%;
}
.table #imageHeader {
  width: 10%;
}
.table #businessNameHeader {
  width: 50%;
}
.table #ratingHeader {
  width: 17%;
}
.table #distanceHeader {
  width: 18%;
}
.table td {
  border: 1px solid #c0c0c0;
  height: 128px;
  text-align: center;
  font-weight: 200;
}

.sortTarget {
  cursor: pointer;
}

.imageContent {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.card {
  background-color: white;
  width: 840px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 500px;
  border: 2px solid lightgrey;
}

.cardSectionHeader {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.cardSectionText {
  font-weight: 200;
}

#cardHeader {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #ccc;
}

#cardHr {
  margin: 0;
  padding: 0;
}

.statusRect {
  color: black;
  display: inline-block;
  padding-block: 10px;
  padding-inline: 20px;
  margin: 5px;
  border-radius: 15px;
}

.pictureSection {
  display: flex;
  padding-bottom: 20px;
}

.pictureContainer {
  width: 32%;
  border: 1px solid grey;
  float: left;
  margin: 5px;
  position: relative;
}

.picture {
  margin-bottom: 50px;
  width: 100%;
}

.pictureLabel {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 35%;
}
/* Clear floats after image containers */

.cardLink {
  color: black;
  text-decoration: none;
}

.cardLink:hover {
  color: grey;
}

#yelpLink {
  color: blue;
}

.none {
  display: none;
}

.open {
  background-color: green;
}

.closed {
  background-color: red;
}
