<app-search-form></app-search-form>

<div
  id="result-container"
  class="container align-items-center justify-content-center"
  *ngIf="dirty === true"
>
  <div
    id="table-container"
    class="container px-0 align-items-center justify-content-center"
    *ngIf="componentToShow == 'table'"
  >
    <app-result-table></app-result-table>
  </div>

  <div
    id="card-container"
    class="container px-0"
    *ngIf="componentToShow == 'card'"
  >
    <app-details-card></app-details-card>
  </div>
</div>

<div class="p-1"></div>
